.header__main {
    background-color: rgb(16, 15, 15);
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__title {
    min-width: max-content;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__options {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__options li {
    padding: 10px;
    font-weight: bold;
    color: white;
}

.container__category {
    display: flex;
    align-items: center;
    gap: 1rem;
}
