.cart__product {
    display: flex;
    align-items: center;
    background-color: grey;
    margin: 10px;
    min-height: 100px;
    
}

.cart__product div {
    margin-right: 1rem;
    
}

.cart__product img {
    width: 100px;
    object-fit: cover;
}
.ir__Compras {
  background-color: #1a9ac442;
  min-width: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 15px;
  margin-top: 15px;
  border-radius: 20px;
  color: white;
}

.ir__Compras:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .eliminar__prod {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .eliminar__prod:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .vaciar__carrito {
    background-color: #1e2122;
    min-width: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
  }

  .vaciar__carrito:hover {
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .generar__orden {
    background-color: #1e2122;
    min-width: 14%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 15px;
    margin-top: 15px;
    border-radius: 20px;
    color: white;
  }

  .generar__orden:hover {
    color: white;
    background-color: black;
    cursor: pointer;

  }
 
  .cart__onclick {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: auto;    
  }

  .contenedor__cartList {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carritoNone {
    display: flex;
    justify-content: center;
    border: solid 5px;
    width: fit-content;
    margin: 0 auto 0;
    margin-top: 100px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    font-size: 20px;

  }

  .compra__total {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  border-style: double;
  width: fit-content;
  border-color: white;
  color: white; 
    
}

@media only screen and (max-width: 480px) {
    #nombre__producto{
      display: none;

    }
      #precio__producto {
        display: none;
      }
      .compra__total {
        margin: 0 auto;
      }

      .cart__onclick {
        margin-bottom: 35px;
      }
  }

