.counter {
    width: fit-content;
    background-color: rgba(7, 88, 88, 0.596);
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
}

.counter button {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}