.ItemListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    min-height: 80vh;
}

@media only screen and (max-width: 480px) {
    .ItemListContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

     

    
    


}
