.footer__Container {
    background-color: rgb(16, 15, 15);
    min-height: 10vh;
}

.list__redes{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    list-style: none;
}

.footer__icon{
font-size: 25px;
}

@media only screen and (max-width: 480px) {
    .footer__Container {
      width: 100%;
    }

  }
